.converter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 1rem;

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 0px 20px #888888;
    padding: 0rem 1rem;

    & > h1 {
      color: #1e2329;
      font-size: 3rem;
    }
    & > input {
      align-self: flex-start;
      color: #707a8a;
      padding: 1rem 1rem;
      font-size: 1rem;
      text-decoration: none;
      outline: none;
      border: none;
      border-bottom: 1px solid #707a8a;
    }

    & > table {
      margin-top: 2rem;
    }
  }
}
